#content {
  max-width: 1600px;
  margin: 0 auto;
}
#background {
  height: 725px;
}
body {
    background-color: #E8E337; 
}
header {
    background-color:#D50000;
}
nav a {
  text-align: center;
}
#hero-msg h1 {
  text-align: center;
}
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
.join {
    background-color: #E8E337; 
}
.book {
    background-color: #E8E337; 
}
nav a:hover {
    background-color: black;
}
.book:hover {
    background-color: black; 
}
.join:hover {
    background-color: black; 
}
.msg {
    background-color: #E8E337; 
}
footer {
    background-color: #E8E337; 
}

