#content {
  max-width: 1600px;
  margin: 0 auto;
}
#background {
  height: 725px;
}
body {
    background-color: #0879D5; 
}
header {
    background-color:#FF7700;
}
nav a {
  text-align: center;
  color: black;
}
#hero-msg h1 {
  text-align: center;
}
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
.join {
    background-color: #5DB8FE;
    color: black;
}
.book {
    background-color: #5DB8FE;
    color: black;
}
nav a:hover {
    background-color: black;
    color: black;
}
.book:hover {
    background-color: black;
    color: black;
}
.join:hover {
    background-color: black;
    color: black;
}
.msg {
    background-color: #F8FF2E; 
}
footer {
    background-color: #FF7700;
    color: black;
}
footer a {
    color: black;
}
footer a:hover {
    color: black;
}
.home-title {
    color: black;
}
h4 {
    color: black;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
}

