:root {
  --header-color: #99DBF5;
  --main-color: #FFEEBB;
  --footer-color: #A7ECEE;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
}
header {
  text-align: center;
  font-size: 3.2rem;
  background-color: var(--header-color);
  width: 30vw;
  height: 100vh;
  padding-top: 30.2rem;
}
main {
  background-color: var(--main-color);
  text-align: center;
  width: 40vw;
  font-size: 2.4rem;
  height: 100vh;
  padding-top: 30.2rem;
}
footer {
  background-color: var(--footer-color);
  text-align: center;
  font-size: 2.4rem;
  width: 30vw;
  height: 100vh;
  padding-top: 30.2rem;
}
