@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:wght@200&display=swap');

:root {
  --primary-color: #0B3C49;

  --secondary-color: #731963;

  --accent1-color: #FFFDFD;

  --accent2-color: #CBD2D0;

  --heading-font: 'Poppins', sans-serif;

  --paragraph-font: 'Manrope',sans-serif;

  --headline-color-on-white: #0B3C49;  /* headlines on a white background */ 

  --headline-color-on-color: #FFFDFD; /* headlines on a colored background */ 

  --paragraph-color-on-white: #CBD2D0; /* paragraph text on a white background */ 

  --paragraph-color-on-color: #0B3C49; /* paragraph text on a colored background */ 

  --paragraph-background-color: #396E94  ;

  --nav-link-color: #731963;

  --nav-background-color: #0B3C49;

  --nav-hover-link-color: #FFFDFD;

  --nav-hover-background-color: #731963;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  max-width: 1200px;

  margin: 0 auto;
  background-color: mediumslateblue;
  padding: 4em;

  font-size: 24px;

  text-align: center;

}

.grid-inside {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 0.3fr);
    height: 83rem;
    width: 62rem;
}

img {
  border-radius: 10%;
  width: 24.5rem;
  height: 18.5rem;
  border: 7px solid var(--secondary-color);
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}
img:hover {
    opacity:.6;
    transform: scale(1.1);
}

.welcome {
  border: 7px solid var(--secondary-color);
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.welcome:hover {
    opacity:.6;
    transform: scale(1.1);
}

.principal-logo {
  border-radius: 10%;
  width: 20.5rem;
  height: 14.5rem;
  border: 7px solid var(--secondary-color);
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}

h1, h2, h3, h4, h5, h6 {

  font-family: var(--heading-font);
  margin: 3rem 0rem 3rem 0rem;
  color: var(--headline-color-on-white);

}

h2 {

  text-align: center;

}

.icon-bar {
  margin-bottom: 3rem;
  width: 63rem; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}

hr {

  height: 3px;

  margin: 35px 0;

  background: var(--accent1-color);

}

header {

  padding: 1em;

  text-align: center;

  color: var(--headline-color-on-color);

  background-color: var(--paragraph-background-color);

}

header > h1, header > h2 {

  color: var(--headline-color-on-color);

}

p {

  font-family: var(--paragraph-font);

  color: var(--paragraph-color-on-white);
  font-weight: bold;
  padding: 1em;

}

.colors {
  grid-column: 1/4;
  grid-row: 5/6;
  width: 100%;
  min-width: 350px;

  margin: 30px auto;

  text-align: center;

}

.colors th {

  background-color: #999;

}

.colors td{

  width: 25%;

  height: 3em;

}

.primary {

  background-color: var(--primary-color);

}

.secondary {

  background-color: var(--secondary-color);

}

.accent1 {

  background-color: var(--accent1-color);

}

.accent2{

  background-color: var(--accent2-color);

}

p.colored {

  background-color: var(--paragraph-background-color);
  font-weight: bold;
  color: var(--paragraph-color-on-color);

}

nav {

  background-color: var(--nav-background-color);

  line-height: 3em;

  text-align: center;
 
  font-size: 1.2em;

}

nav  {

  list-style-type: none;
  justify-content: center;
  display: flex;

}

nav a {

  padding:1em;

  min-width: 120px;

  text-decoration: none;

  padding: 10px;

}

nav a:link, nav a:visited {

  color: #c535ab;

}

nav a:hover {

  color: var(--nav-hover-link-color);

  background-color: var(--nav-hover-background-color);

}

.sitemap {

  display: grid;

  justify-content: center;

  grid-template-columns: repeat(6, 15%);

  grid-template-rows: 3em 1.5em 1.5em 3em;

  grid-template-areas: ". . home home . ."

    ". . . top . ."

    ". left left right right ."

    "page2 page2 . . page3 page3";

}

.sitemap > div {

  text-align: center;

}

.sm-home {

  grid-area: home;

  background-color: #ccc;

  line-height: 3em;

}

.sm-page2 {

  grid-area: page2;

  background-color: #ccc;

  line-height: 3em;

}

.sm-page3 {

  grid-area: page3;

  background-color: #ccc;

  line-height: 3em;

}

.top {

  grid-area: top;

  border-left: 1px solid;

}

.element-zero, .element-two, .element-four {
  width: 15rem;
}

.element-one {
  grid-column: 2/5;
  grid-row: 1/2;
}

.element-three {
  grid-column: 2/3;
  width: 23rem;
  grid-row: 2/3;
}

.element-four {
  grid-column: 1/2;
}

.element-five {
  grid-column: 2/4;
  width: 23rem;
  grid-row: 3/4;
}

.left {

  grid-area: left;

  border-top: 1px solid;

  border-left: 1px solid;

}

.left-one {
  display: grid;
  grid-column: 3/4;
  grid-row: 2/3;
  border-top: 1px solid;
  border-left: 1px solid;
  margin-bottom: 7rem;
}

.left-six {

  display: grid;
  grid-column: 3/4;
  grid-row: 3/4;
  border-top: 1px solid;
  border-left: 1px solid;
  margin-bottom: 7rem;
}

.right {

  grid-area: right;

  border-top: 1px solid;

  border-right: 1px solid;

}
